@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 15vh;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 21px;
}
.container {
  max-width: 1420px;
  width: 90%;
  margin: 0 auto;
}
button {
  background-color: #fa8c37;
  color: #ffffff;
  font-size: 1.3625rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}

/* header */

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: #1e1e1e;
  padding: 16px;
  width: 100%;
  height: 15vh;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .name {
  font-size: 1.75rem;
  letter-spacing: -1px;
  font-family: "Bebas Neue", sans-serif;
  color: #c7c7c7;
  text-decoration: none;
  transition: color 0.3s ease;
}
header a.name:hover {
  color: #fa8c37;
}
nav li a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #ffffff;
  font-size: clamp(15px, 2vw, 21px);
}
nav li a:hover {
  color: #fa8c37;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav button {
  padding: 15px 25px;
  margin-left: 30px;
  font-size: 1.5vw;
}
nav button:hover {
  background-color: #fd6f00;
}
.sidebar-btn {
  display: none;
  cursor: pointer;
}
.sidebar-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  border-radius: 2px;
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: auto;
  transition: right 0.3s ease;
  z-index: 10;
}
.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(to left, #000000, #fa8c37);
  padding: 20px;
  border-radius: 0 0 0 50px;
}
.mobile-nav ul li {
  transition: transform 0.3s ease, color 0.3s ease;
}
.mobile-nav ul li:hover {
  transform: scale(1.05);
  color: #fd6f00;
  -webkit-text-stroke: 1px #000000;
}
.mobile-nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
}
.mobile-nav.show {
  right: 0;
}

/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20vh;
}
.hero-image-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-text {
  max-width: 714px;
}
.hero .hero-text h1 {
  font-size: 1.5rem;
}
.hero .hero-text h2 {
  font-size: 2rem;
  margin-top: 15px;
  color: #fd6f00;
}
.hero-text h3,
.hero-text h4 {
  font-weight: 700;
  font-size: clamp(54px, 5vw, 100px);
}
.hero .hero-text h3 span {
  display: flex;
  justify-content: flex-end;
}
.hero-text h4 {
  margin-left: 15%;
}
.hero .hero-text p {
  margin-bottom: 30px;
}
.hero .hero-text button {
  padding: 12px 50px;
}
.hero .hero-text button:hover {
  background-color: #fd6f00;
}
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
}
.hero-image {
  max-width: 538px;
  max-height: 617px;
  overflow: hidden;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.hero-image:hover {
  transform: scale(1.05);
}
.hero-image .slide {
  display: none;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
}
.social-container .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.social-container .social-icons a img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
.social-container .social-icons a img:hover {
  transform: scale(1.1);
}

/* about me */
.about-section {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  flex-wrap: wrap;
}
.about-image {
  max-width: 538px;
  margin-bottom: 20px;
}
.about-image img {
  width: 100%;
  border-radius: 50px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 26px rgba(250, 250, 250, 0.2);
}
.about-image img:hover {
  transform: scale(1.05);
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}
.about-text h2 {
  font-size: clamp(36px, 4vw, 65px);
  font-weight: 600;
}
.skill {
  margin-bottom: 25px;
}
.skill label {
  font-weight: 600;
  font-size: 1.35rem;
}
.skill input {
  width: 100%;
  height: 7px;
}
.skill input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #e0e0e0;
  border-radius: 5px;
  outline: none;
  transition: value 1s ease;
}
.skill input[type="range"]::-webkit-slider-runnable-track {
  height: 7px;
  background: transparent;
  border-radius: 5px;
}
.skill input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: -4.5px;
  border: 8px solid #fd6f00;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* services */
.services-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.services-text {
  text-align: center;
}
.services-text h2 {
  margin-bottom: 15px;
}
.service-card h3 {
  color: #fd6f00;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
  padding-bottom: 80px;
  transition: all 0.3s ease;
}
.card-container:hover > :not(:hover) {
  opacity: 0.5;
  filter: blur(5px);
}
.service-card {
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(250, 250, 250, 0.3);
}
.service-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

/* my project section */

.project-section {
  margin-bottom: 15vh;
}
.project-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.project-text h2,
.testimonial-text h2,
.contact-text h2 {
  font-size: clamp(36px, 4vw, 65px);
}
.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
  margin: 40px 0;
}
.buttons-container button {
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
}
.buttons-container button.active {
  background-color: #fd6f00;
  color: #ffffff;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 445px;
  max-height: 489px;
}
.card img {
  width: 100%;
  max-height: 253px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card img:hover {
  transform: scale(1.05);
}
.card h1 {
  font-size: 19px;
  font-weight: 400;
  color: #fd6f00;
}
.card p {
  font-size: 24px;
}

/* testimonials */

.testimonials-section {
  margin-bottom: 70px;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-text {
  text-align: center;
  margin-bottom: 3vw;
}
.img-feedback {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  max-width: 1087px;
  border-radius: 14px;
}
.img-feedback img {
  border-radius: 50%;
}
.feedback {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  justify-content: center;
}
.feedback h1,
.feedback h2,
.feedback p {
  margin-bottom: 10px;
}
.feedback h1 {
  font-size: 24px;
  font-weight: 500;
}
.feedback h2 {
  font-size: 19px;
  font-weight: 400;
}
.feedback p {
  font-size: 21px;
  letter-spacing: 2px;
}
.test-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.test-buttons button {
  width: 57px;
  height: 16px;
  border-radius: 8px;
  background-color: #d9d9d9;
}
.test-buttons button.active {
  background-color: #fd6f00;
}

/* contact */
.contact-section {
  max-width: 1052px;
  margin: 0 auto;
}
.contact-text {
  text-align: center;
  margin-top: 7vw;
}
.contact-section form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin: 40px 0;
}
.contact-section form div:nth-of-type(4) {
  grid-column-end: span 3;
}
.contact-section form button {
  grid-column-start: 2;
  padding: 20px;
  border-radius: 14px;
}
.contact-section form button:hover {
  background-color: #fd6f00;
}
.contact-section form div input,
.contact-section form div textarea {
  width: 100%;
  border-radius: 14px;
  outline: none;
  border: none;
  padding: 20px;
  font-size: clamp(15px, 2vw, 21px);
}
.contact-section form div textarea {
  resize: none;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
.input-shake {
  animation: shake 0.3s;
}
.input-message {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}
.input-message.success {
  color: green;
}

/* footer */
.footer-content {
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer-content nav ul {
  flex-wrap: wrap;
  justify-content: center;
}
.footer-content nav li a {
  font-size: 21px;
}
.footer-content .social-container {
  width: 100%;
}
.rights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  height: 84px;
  background-color: #121212;
  font-size: clamp(15px, 2vw, 21px);
}

/* modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-content {
  background: white;
  padding: 40px;
  border-radius: 14px;
  text-align: center;
}
.modal-content p {
  color: #000000;
}
.modal-content button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 14px;
}

/* media queries*/
@media (max-width: 1200px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero-text h3 {
    font-weight: 400;
  }
  .hero-image-social {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
  .header-container nav {
    display: none;
  }
  .sidebar-btn {
    display: block;
  }
  .mobile-nav {
    width: 140px;
  }
  .hero-image-social {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .hero-text p,
  .hero-text button,
  .about-image {
    display: none;
  }
  .hero-text h4 {
    margin-left: 0;
  }
  .hero {
    margin-top: 15vh;
  }

  .slide {
    margin-top: 20px;
  }
  .slide img {
    max-width: 100%;
  }
  .img-feedback {
    flex-wrap: wrap;
  }
  .feedback {
    flex-direction: column-reverse;
  }
  .img-feedback {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .services-text,
  .project-text,
  .testimonial-text,
  .contact-text {
    text-align: start;
  }
  .buttons-container {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .contact-section form {
    display: flex;
    flex-direction: column;
  }
  .footer-content {
    flex-wrap: wrap-reverse;
  }
  .footer-content ul {
    flex-direction: column;
    text-align: center;
  }
}

@media (width<375px) {
  .service-card {
    width: 90%;
  }
}
